<p><img alt="The Iteration Loop" src="{{ site.github.url }}/fig/iteration.png" /></p>
<hr/>
<p><img alt="The Standup Meeting Loop" src="{{ site.github.url }}/fig/standup.png" /></p>
<hr/>
<p><img alt="The Pair Programming Loop" src="{{ site.github.url }}/fig/pair.png" /></p>
<hr/>
<p><img alt="The TDD Loop" src="{{ site.github.url }}/fig/tdd.png" /></p>
<hr/>
<p><img alt="The Continuous Integration Loop" src="{{ site.github.url }}/fig/ci.png" /></p>
<hr/>
<p><img alt="The Cost of Fixing Problems" src="{{ site.github.url }}/fig/costs.png" /></p>
<hr/>
<p><img alt="Sturdy Software Development Lifecycle" src="{{ site.github.url }}/fig/lifecycle.png" /></p>
<hr/>
<p><img alt="Prioritizing Work" src="{{ site.github.url }}/fig/prioritize.png" /></p>
